mat-card {
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 7%;
  margin-right: 7%;
}

.firstOption {
  border: solid 2px #FA017A;
}

.secondOption {
  border: solid 2px #583386;
}

.priceProductRetail {
  font-size: 10px;
  text-decoration: line-through;

}

button {
  margin-bottom: 7%;
  margin-left: 9%;
}

.priceProductImportClub,
.productName {
  font-size: 14px;
}
