mat-card {
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 7%;
  margin-right: 7%;
}

.firstOption {
  border: solid 2px #FA017A;
}

.secondOption {
  border: solid 2px #583386;
}

.priceProduct {
  font-size: 13px;
}

button {
  margin-bottom: 7%;
}
